@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


  .click-text {
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: #2c3e50; 
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: fadeInUp 0.8s ease forwards;
  }
  
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .our-services{
    padding: 1rem;
   display: grid;
   grid-template-columns: 1fr 1fr ; 
   gap: 20px;
  }
  

  .service-title {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

.service-list{
  text-align: center;
}
.service_logo img {
  max-width: 15%;
  margin-bottom: 10px;
  filter: grayscale(20%);
  cursor: pointer;
  transition: all 0.3s ease; 
 
}



  .logo {
    font-family: Arial, sans-serif;
    color: white; 
}

.logo h4 {
    margin: 0; 
    font-size: 24px; 
    font-weight: bold; 
    text-transform: uppercase; 
}


.home-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.service-h2 {
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem;
  margin: 2rem;
  background-color: #f0f0f0; 
  color: #ff6f61;
  text-align: center; 
}


.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
  grid-auto-flow: row;
}




@media (max-width: 768px){
   
  .cta-title-service{
    font-size: 15px;
  }
  
  .home-page{
    overflow: hidden;
  }
      .service-h2{
        text-align: center;
        transform: translateX(10px);
  
      }

      .service-list{
        margin: 1rem;
        max-width: 400px;
      }
    }